.clear{
    clear: both;
}
.main-2{
    padding-inline: 100px;
}
.main-2 h5{
    border: none;
    background-color: white;
    padding: 10px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    position: relative; 
}
.main-2 h5::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: #FFE083;
}
.main-2 .input-content{
    align-items: center;
}
.main-2 .input-content .form-group{
    margin-top: 13px;
}
.main-2 .input-content input{
    background: #ECF0F3;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s;
}
.main-2 button{
    border-radius: 20px;
}
.main-2 .input-content input:focus{
    background: white;
    border: 1px solid grey;
}
.result{
    border: 1px solid #BADBCC;
    height: 40px;
    background: #D1E7DD !important;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 15px;
}
.result i{
    margin-right: 5px;
    color: rgb(236, 166, 35);
}
.btn-link{
    color: black;
}
.btn-link:focus{
    color: blue;
}
.btn-link:hover .card-header{
    background: #E7F1FF;
}

